body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    overflow: hidden;

    main.login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px #ccc;
        width: 400px;
        padding: 20px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);

        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 70%;

            input{
                height: 30px;
                border-radius: 7px;
                border: solid 1px #ccc;
            }

            button{
                height: 40px;
                border-radius: 10px;
                color: white;
                background-color: #0067b1;
                border: solid 1px #0067b1;
                cursor: pointer;
            }

            button:hover{
                transition: 0.5s;
                background-color: #0053a0;
                border: solid 1px #0053a0;
            }
        }

    }

    main.register{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        border: solid 1px #ccc;
        padding: 20px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);

        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 80%;

            input, select{
                height: 30px;
                border-radius: 7px;
                border: solid 1px #ccc;
            }

            button{
                height: 40px;
                color: white;
                border-radius: 10px;
                background-color: #0067b1;
                border: solid 1px #0067b1;
                cursor: pointer;
            }

            button:hover{
                transition: 0.5s;
                background-color: #0053a0;
                border: solid 1px #0053a0;
            }


        }
    }


}